.blogBlock
  list-style-type none
  padding-left 20px
  padding-right 20px
  
  .blogBlock-li
    padding 10px
    margin-top 10px
    border 1px solid green
    border-radius 4px
    .blogBlock-userName
      font-size 22px
    .blogBlock-title
      font-size 19px
      color #175
    .blogBlock-title:first-letter
      text-transform uppercase
    .blogBlock-body
      font-size 15px
    .blogBlock-email
      font-size 17px
.commentsBlock
  margin-left 50px
